openapi: 3.0.3
info:
  title: 'Virak Cloud API'
  description: "<P>\n    Welcome to the Virak Cloud API documentation.\n    Virak Cloud API is a comprehensive RESTful API that empowers developers to programmatically manage and interact with cloud infrastructure resources.\n    This API provides secure, scalable endpoints for managing virtual instances, networks, Kubernetes clusters, object storage, DNS records, and more. Built with enterprise-grade security and reliability, the Virak Cloud API enables seamless automation and integration with your existing workflows and applications.\n    <p>For detailed guides and advanced documentation, visit the <a href=\"https://docs.virakcloud.com/fa/guides/\" target=\"_blank\">VirakCloud Documentation</a>.</p>\n    <a href=\"https://github.com/virak-cloud/public-api-docs\"> <img src=\"https://img.shields.io/badge/github-%23181717.svg?&style=for-the-badge&logo=github&logoColor=white\" alt=\"github icon\" title=\"github icon\"></a>\n</P>"
  version: 1.0.0
servers:
  -
    url: 'https://public-api.virakcloud.com'
paths:
  /zones:
    get:
      summary: 'Zone List'
      operationId: zoneList
      description: ' <aside class="notice">need <small class="badge">zone:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: string
                      name: string
                      location: string
                      active: true
                    -
                      id: string
                      name: string
                      location: string
                      active: true
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: string
                        name: string
                        location: string
                        active: true
                      -
                        id: string
                        name: string
                        location: string
                        active: true
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: string
                        name:
                          type: string
                          example: string
                        location:
                          type: string
                          example: string
                        active:
                          type: boolean
                          example: true
      tags:
        - Datacenter
  '/zone/{zoneId}':
    get:
      summary: 'Zone Active Services'
      operationId: zoneActiveServices
      description: ' <aside class="notice">need <small class="badge">zone:show</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  Instance: true
                  DataVolume: true
                  Network: true
                  ObjectStorage: true
                  K8s: false
                properties:
                  Instance:
                    type: boolean
                    example: true
                  DataVolume:
                    type: boolean
                    example: true
                  Network:
                    type: boolean
                    example: true
                  ObjectStorage:
                    type: boolean
                    example: true
                  K8s:
                    type: boolean
                    example: false
      tags:
        - Datacenter
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: string
  '/zone/{zoneId}/resources':
    get:
      summary: 'Customer Resource'
      operationId: customerResource
      description: ' <aside class="notice">need <small class="badge">zone:resource:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  instance_resource_collected:
                    memory:
                      collected: 0
                      total: 40960
                    cpunumber:
                      collected: 0
                      total: 40
                    datavolume:
                      collected: 10
                      total: 200
                    vmlimit:
                      collected: 0
                      total: 20
                properties:
                  instance_resource_collected:
                    type: object
                    properties:
                      memory:
                        type: object
                        properties:
                          collected:
                            type: integer
                            example: 0
                          total:
                            type: integer
                            example: 40960
                      cpunumber:
                        type: object
                        properties:
                          collected:
                            type: integer
                            example: 0
                          total:
                            type: integer
                            example: 40
                      datavolume:
                        type: object
                        properties:
                          collected:
                            type: integer
                            example: 10
                          total:
                            type: integer
                            example: 200
                      vmlimit:
                        type: object
                        properties:
                          collected:
                            type: integer
                            example: 0
                          total:
                            type: integer
                            example: 20
      tags:
        - Datacenter
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: string
  /user/profile:
    get:
      summary: 'User Profile'
      operationId: userProfile
      description: ' <aside class="notice">need <small class="badge">customer:profile:show</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: ID_PLACEHOLDER
                    name: NAME_PLACEHOLDER
                    language: LANGUAGE_PLACEHOLDER
                    national_code: NATIONAL_CODE_PLACEHOLDER
                    email: EMAIL_PLACEHOLDER
                    phone: PHONE_PLACEHOLDER
                    country: null
                    state: null
                    city: null
                    address: null
                    zip: null
                    website: null
                    extra:
                      referral_code: null
                    status: STATUS_PLACEHOLDER
                    type: TYPE_PLACEHOLDER
                    created_at: CREATED_AT_PLACEHOLDER
                    updated_at: UPDATED_AT_PLACEHOLDER
                    customer_zones_count: null
                    instances_count: null
                    payments_count: null
                    wallets_count: null
                    invite_code: INVITE_CODE_PLACEHOLDER
                    invited_by_me: 0
                    picture: PICTURE_URL_PLACEHOLDER
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: ID_PLACEHOLDER
                      name:
                        type: string
                        example: NAME_PLACEHOLDER
                      language:
                        type: string
                        example: LANGUAGE_PLACEHOLDER
                      national_code:
                        type: string
                        example: NATIONAL_CODE_PLACEHOLDER
                      email:
                        type: string
                        example: EMAIL_PLACEHOLDER
                      phone:
                        type: string
                        example: PHONE_PLACEHOLDER
                      country:
                        type: string
                        example: null
                      state:
                        type: string
                        example: null
                      city:
                        type: string
                        example: null
                      address:
                        type: string
                        example: null
                      zip:
                        type: string
                        example: null
                      website:
                        type: string
                        example: null
                      extra:
                        type: object
                        properties:
                          referral_code:
                            type: string
                            example: null
                      status:
                        type: string
                        example: STATUS_PLACEHOLDER
                      type:
                        type: string
                        example: TYPE_PLACEHOLDER
                      created_at:
                        type: string
                        example: CREATED_AT_PLACEHOLDER
                      updated_at:
                        type: string
                        example: UPDATED_AT_PLACEHOLDER
                      customer_zones_count:
                        type: string
                        example: null
                      instances_count:
                        type: string
                        example: null
                      payments_count:
                        type: string
                        example: null
                      wallets_count:
                        type: string
                        example: null
                      invite_code:
                        type: string
                        example: INVITE_CODE_PLACEHOLDER
                      invited_by_me:
                        type: integer
                        example: 0
                      picture:
                        type: string
                        example: PICTURE_URL_PLACEHOLDER
      tags:
        - User
  /user/token:
    get:
      summary: 'Token validation'
      operationId: tokenValidation
      description: ''
      parameters: []
      responses:
        204:
          description: 'Success Response'
      tags:
        - User
  /user/token-abilities:
    get:
      summary: 'Token Abilities'
      operationId: tokenAbilities
      description: ''
      parameters: []
      responses:
        200:
          description: 'Success Response'
          content:
            text/plain:
              schema:
                type: string
                example: '{"abilities": ["ability1", "ability2", ...]}'
      tags:
        - User
  /user/ssh-key:
    get:
      summary: 'SSH key list'
      operationId: sSHKeyList
      description: ' <aside class="notice">need <small class="badge">ssh-key:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  userData:
                    -
                      id: placeholder_id_1
                      display_name: 'User One'
                      datakey: ssh-authorized-keys
                      datavalue: 'ssh-rsa AAAA...== user1@example.com'
                      created_at: '2024-01-01T00:00:00.000000Z'
                    -
                      id: placeholder_id_2
                      display_name: 'User Two'
                      datakey: ssh-authorized-keys
                      datavalue: 'ssh-rsa AAAA...== user2@example.com'
                      created_at: '2024-01-02T00:00:00.000000Z'
                properties:
                  userData:
                    type: array
                    example:
                      -
                        id: placeholder_id_1
                        display_name: 'User One'
                        datakey: ssh-authorized-keys
                        datavalue: 'ssh-rsa AAAA...== user1@example.com'
                        created_at: '2024-01-01T00:00:00.000000Z'
                      -
                        id: placeholder_id_2
                        display_name: 'User Two'
                        datakey: ssh-authorized-keys
                        datavalue: 'ssh-rsa AAAA...== user2@example.com'
                        created_at: '2024-01-02T00:00:00.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: placeholder_id_1
                        display_name:
                          type: string
                          example: 'User One'
                        datakey:
                          type: string
                          example: ssh-authorized-keys
                        datavalue:
                          type: string
                          example: 'ssh-rsa AAAA...== user1@example.com'
                        created_at:
                          type: string
                          example: '2024-01-01T00:00:00.000000Z'
      tags:
        - User
    post:
      summary: 'Add new SSH Keys'
      operationId: addNewSSHKeys
      description: " <aside class=\"notice\">need <small class=\"badge\">ssh-key:create</small> ability for api token</aside>\n <b>Note:</b> This function runs asynchronously in the background. The response will be:<br>\n <pre>{\n   \"data\": {\n       \"success\": true\n   }\n }</pre>\n To check the status of the created ssh Key, use the <b>SSH key list</b> endpoint.\n"
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'A display name for the SSH key. Must be at least 3 characters. Must not be greater than 255 characters.'
                  example: 'My SSH Key'
                  nullable: false
                ssh_key:
                  type: string
                  description: 'The SSH public key to be registered.'
                  example: 'ssh-rsa AAAA...== user@example.com'
                  nullable: false
              required:
                - name
                - ssh_key
  '/user/ssh-key/{sshKeyId}':
    delete:
      summary: 'Delete SSH Key'
      operationId: deleteSSHKey
      description: " <aside class=\"notice\">need <small class=\"badge\">ssh-key:delete</small> ability for api token</aside>\n\n"
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - User
    parameters:
      -
        in: path
        name: sshKeyId
        description: ''
        example: 75svX12wvT9g4KwQF1VHcRNjp4
        required: true
        schema:
          type: string
  /user/finance/wallet:
    get:
      summary: 'Wallets Balance'
      operationId: walletsBalance
      description: ' <aside class="notice">need <small class="badge">customer:wallet:balance</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    name: WALLET_NAME_PLACEHOLDER
                    track: TRACK_PLACEHOLDER
                    type: TYPE_PLACEHOLDER
                    balance: 0
                    balance_limit: 0
                    is_blocked: false
                    max_cost: 0
                    remaining_hours: 0
                    updated_at: DATE_PLACEHOLDER
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        example: WALLET_NAME_PLACEHOLDER
                      track:
                        type: string
                        example: TRACK_PLACEHOLDER
                      type:
                        type: string
                        example: TYPE_PLACEHOLDER
                      balance:
                        type: integer
                        example: 0
                      balance_limit:
                        type: integer
                        example: 0
                      is_blocked:
                        type: boolean
                        example: false
                      max_cost:
                        type: integer
                        example: 0
                      remaining_hours:
                        type: integer
                        example: 0
                      updated_at:
                        type: string
                        example: DATE_PLACEHOLDER
      tags:
        - User
  /user/finance/documents:
    get:
      summary: 'Cost Documents Yearly'
      operationId: costDocumentsYearly
      description: ' <aside class="notice">need <small class="badge">customer:document:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      dateFrom: DATE_FROM_PLACEHOLDER
                      dateTo: DATE_TO_PLACEHOLDER
                      Instance: 0
                      NetworkNetflow: 0
                      InstanceSnapshot: 0
                      InstanceDataVolumes: 0
                      SupportOfferings: 0
                      NetworkInternetPublicAddressV4: 0
                      NetworkDevice: 0
                      InstanceNetworkSecondaryIpAddressV4: 0
                      BucketSize: 0
                      BucketDownloadTraffic: 0
                      BucketUploadTraffic: 0
                      KubernetesNode: 0
                properties:
                  data:
                    type: array
                    example:
                      -
                        dateFrom: DATE_FROM_PLACEHOLDER
                        dateTo: DATE_TO_PLACEHOLDER
                        Instance: 0
                        NetworkNetflow: 0
                        InstanceSnapshot: 0
                        InstanceDataVolumes: 0
                        SupportOfferings: 0
                        NetworkInternetPublicAddressV4: 0
                        NetworkDevice: 0
                        InstanceNetworkSecondaryIpAddressV4: 0
                        BucketSize: 0
                        BucketDownloadTraffic: 0
                        BucketUploadTraffic: 0
                        KubernetesNode: 0
                    items:
                      type: object
                      properties:
                        dateFrom:
                          type: string
                          example: DATE_FROM_PLACEHOLDER
                        dateTo:
                          type: string
                          example: DATE_TO_PLACEHOLDER
                        Instance:
                          type: integer
                          example: 0
                        NetworkNetflow:
                          type: integer
                          example: 0
                        InstanceSnapshot:
                          type: integer
                          example: 0
                        InstanceDataVolumes:
                          type: integer
                          example: 0
                        SupportOfferings:
                          type: integer
                          example: 0
                        NetworkInternetPublicAddressV4:
                          type: integer
                          example: 0
                        NetworkDevice:
                          type: integer
                          example: 0
                        InstanceNetworkSecondaryIpAddressV4:
                          type: integer
                          example: 0
                        BucketSize:
                          type: integer
                          example: 0
                        BucketDownloadTraffic:
                          type: integer
                          example: 0
                        BucketUploadTraffic:
                          type: integer
                          example: 0
                        KubernetesNode:
                          type: integer
                          example: 0
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  description: 'The year for the document. The year can be either solar (Shamsi) or Gregorian. Must be at least 1390.'
                  example: 2025
                  nullable: false
              required:
                - year
  /user/finance/payments:
    get:
      summary: 'Payment List'
      operationId: paymentList
      description: ' <aside class="notice">need <small class="badge">customer:payment:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                properties:
                  data:
                    type: array
                    example: []
      tags:
        - User
  /user/finance/expenses:
    get:
      summary: 'Expense List'
      operationId: expenseList
      description: ' <aside class="notice">need <small class="badge">customer:expense:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 01k53kmw215q40x39eeejcpwen
                      from: '1404-06-23 11:27:16'
                      amount: 5107
                      documented: true
                      metadata:
                        name: bucket-name
                        traffic: 51
                        type: BucketUploadTraffic
                        tier: low-tier
                  meta:
                    current_page: 1
                    from: 1
                    last_page: 1
                    per_page: 50
                    to: 26
                    total: 26
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 01k53kmw215q40x39eeejcpwen
                        from: '1404-06-23 11:27:16'
                        amount: 5107
                        documented: true
                        metadata:
                          name: bucket-name
                          traffic: 51
                          type: BucketUploadTraffic
                          tier: low-tier
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 01k53kmw215q40x39eeejcpwen
                        from:
                          type: string
                          example: '1404-06-23 11:27:16'
                        amount:
                          type: integer
                          example: 5107
                        documented:
                          type: boolean
                          example: true
                        metadata:
                          type: object
                          properties:
                            name:
                              type: string
                              example: bucket-name
                            traffic:
                              type: integer
                              example: 51
                            type:
                              type: string
                              example: BucketUploadTraffic
                            tier:
                              type: string
                              example: low-tier
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      from:
                        type: integer
                        example: 1
                      last_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 50
                      to:
                        type: integer
                        example: 26
                      total:
                        type: integer
                        example: 26
      tags:
        - User
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_type:
                  type: string
                  description: 'The type of the product for expenses.'
                  example: BucketUploadTraffic
                  nullable: false
                  enum:
                    - Instance
                    - InstanceNetworkSecondaryIpAddressV4
                    - BucketSize
                    - NetworkInternetPublicAddressV4
                    - KubernetesNode
                    - NetworkDevice
                    - NetworkNetflow
                    - SupportOfferings
                    - BucketUploadTraffic
                    - BucketDownloadTraffic
                product_id:
                  type: string
                  description: 'The ULID of the product.'
                  example: 01k53jsbp0bc08tq02694xpetf
                  nullable: false
                page:
                  type: integer
                  description: 'Page number for paginated results. Must be at least 1.'
                  example: 1
                  nullable: false
              required:
                - product_type
                - product_id
  '/zone/{zoneId}/instance':
    get:
      summary: Index
      operationId: index
      description: ' <aside class="notice">need <small class="badge">instance:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: string
                      name: string
                      created: true
                      template_id: null
                      vm_image:
                        id: string
                        type: string
                        name: string
                        is_available: true
                        display_text: string
                        name_orginal: string
                        ready_to_use_app: false
                        ready_to_use_app_name: null
                        ready_to_use_app_version: null
                        os_type: string
                        os_name: string
                        os_version: string
                        hardware_requirement:
                          cpunumber: 1
                          cpuspeed: 500
                          memory: 500
                          rootdisksize: 25
                        category: string
                      zone:
                        id: string
                        name: string
                        location: string
                        is_public: true
                        is_featured: true
                        is_ready: true
                      service_offering:
                        id: string
                        name: string
                        has_image_requirement: null
                        is_available: true
                        is_public: true
                        suggested: false
                        category: string
                        hourly_price:
                          up: 0
                          down: 0
                        hourly_price_no_discount:
                          up: 0
                          down: 0
                        description: null
                        hardware:
                          cpu_core: 1
                          memory_mb: 512
                          cpu_speed_MHz: 1000
                          root_disk_size_gB: 30
                          network_rate: 200
                          disk_iops: 2500
                      disk_offering_id: null
                      service_offering_id: string
                      status: string
                      instance_status: string
                      password: string
                      username: string
                      created_at: 1234567890
                      updated_at: 1234567890
                      metadata: []
                      kubernetes_cluster_id: null
                      data_volumes: []
                      snapshot: []
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: string
                        name: string
                        created: true
                        template_id: null
                        vm_image:
                          id: string
                          type: string
                          name: string
                          is_available: true
                          display_text: string
                          name_orginal: string
                          ready_to_use_app: false
                          ready_to_use_app_name: null
                          ready_to_use_app_version: null
                          os_type: string
                          os_name: string
                          os_version: string
                          hardware_requirement:
                            cpunumber: 1
                            cpuspeed: 500
                            memory: 500
                            rootdisksize: 25
                          category: string
                        zone:
                          id: string
                          name: string
                          location: string
                          is_public: true
                          is_featured: true
                          is_ready: true
                        service_offering:
                          id: string
                          name: string
                          has_image_requirement: null
                          is_available: true
                          is_public: true
                          suggested: false
                          category: string
                          hourly_price:
                            up: 0
                            down: 0
                          hourly_price_no_discount:
                            up: 0
                            down: 0
                          description: null
                          hardware:
                            cpu_core: 1
                            memory_mb: 512
                            cpu_speed_MHz: 1000
                            root_disk_size_gB: 30
                            network_rate: 200
                            disk_iops: 2500
                        disk_offering_id: null
                        service_offering_id: string
                        status: string
                        instance_status: string
                        password: string
                        username: string
                        created_at: 1234567890
                        updated_at: 1234567890
                        metadata: []
                        kubernetes_cluster_id: null
                        data_volumes: []
                        snapshot: []
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: string
                        name:
                          type: string
                          example: string
                        created:
                          type: boolean
                          example: true
                        template_id:
                          type: string
                          example: null
                        vm_image:
                          type: object
                          properties:
                            id:
                              type: string
                              example: string
                            type:
                              type: string
                              example: string
                            name:
                              type: string
                              example: string
                            is_available:
                              type: boolean
                              example: true
                            display_text:
                              type: string
                              example: string
                            name_orginal:
                              type: string
                              example: string
                            ready_to_use_app:
                              type: boolean
                              example: false
                            ready_to_use_app_name:
                              type: string
                              example: null
                            ready_to_use_app_version:
                              type: string
                              example: null
                            os_type:
                              type: string
                              example: string
                            os_name:
                              type: string
                              example: string
                            os_version:
                              type: string
                              example: string
                            hardware_requirement:
                              type: object
                              properties:
                                cpunumber:
                                  type: integer
                                  example: 1
                                cpuspeed:
                                  type: integer
                                  example: 500
                                memory:
                                  type: integer
                                  example: 500
                                rootdisksize:
                                  type: integer
                                  example: 25
                            category:
                              type: string
                              example: string
                        zone:
                          type: object
                          properties:
                            id:
                              type: string
                              example: string
                            name:
                              type: string
                              example: string
                            location:
                              type: string
                              example: string
                            is_public:
                              type: boolean
                              example: true
                            is_featured:
                              type: boolean
                              example: true
                            is_ready:
                              type: boolean
                              example: true
                        service_offering:
                          type: object
                          properties:
                            id:
                              type: string
                              example: string
                            name:
                              type: string
                              example: string
                            has_image_requirement:
                              type: string
                              example: null
                            is_available:
                              type: boolean
                              example: true
                            is_public:
                              type: boolean
                              example: true
                            suggested:
                              type: boolean
                              example: false
                            category:
                              type: string
                              example: string
                            hourly_price:
                              type: object
                              properties:
                                up:
                                  type: integer
                                  example: 0
                                down:
                                  type: integer
                                  example: 0
                            hourly_price_no_discount:
                              type: object
                              properties:
                                up:
                                  type: integer
                                  example: 0
                                down:
                                  type: integer
                                  example: 0
                            description:
                              type: string
                              example: null
                            hardware:
                              type: object
                              properties:
                                cpu_core:
                                  type: integer
                                  example: 1
                                memory_mb:
                                  type: integer
                                  example: 512
                                cpu_speed_MHz:
                                  type: integer
                                  example: 1000
                                root_disk_size_gB:
                                  type: integer
                                  example: 30
                                network_rate:
                                  type: integer
                                  example: 200
                                disk_iops:
                                  type: integer
                                  example: 2500
                        disk_offering_id:
                          type: string
                          example: null
                        service_offering_id:
                          type: string
                          example: string
                        status:
                          type: string
                          example: string
                        instance_status:
                          type: string
                          example: string
                        password:
                          type: string
                          example: string
                        username:
                          type: string
                          example: string
                        created_at:
                          type: integer
                          example: 1234567890
                        updated_at:
                          type: integer
                          example: 1234567890
                        metadata:
                          type: array
                          example: []
                        kubernetes_cluster_id:
                          type: string
                          example: null
                        data_volumes:
                          type: array
                          example: []
                        snapshot:
                          type: array
                          example: []
      tags:
        - Instance
    post:
      summary: 'Create Instance'
      operationId: createInstance
      description: "  <aside class=\"notice\">need <small class=\"badge\">instance:create</small> ability for api token</aside>\n  <b>Note:</b> This function runs asynchronously in the background. The response will be:<br>\n  <pre>{\n    \"data\": {\n        \"success\": true\n    }\n  }</pre>\n  To check the status of the created instance, use the <b>List Instance</b> endpoint and review the <code>status</code> field."
      parameters: []
      responses:
        201:
          description: 'Accepted for async processing. Use List Instance to check status.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                service_offering_id:
                  type: ulid
                  description: 'The ID of the service offering.'
                  example: 01H9ZCNF46W6C1EM45T21B6M0G
                  nullable: false
                vm_image_id:
                  type: ulid
                  description: 'The ID of the VM image.'
                  example: 01H9ZCNF46W6C1EM45T21B6M0H
                  nullable: false
                network_ids:
                  type: array<ulid>
                  description: 'Array of network IDs to attach to the instance.'
                  example:
                    - 01H9ZCNF46W6C1EM45T21B6M0N
                  nullable: false
                name:
                  type: string
                  description: 'The name of the instance.'
                  example: my-instance
                  nullable: false
              required:
                - service_offering_id
                - vm_image_id
                - network_ids
                - name
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: string
  '/zone/{zoneId}/instance/service-offerings':
    get:
      summary: 'List Instance Service Offerings'
      operationId: listInstanceServiceOfferings
      description: ' <aside class="notice">need <small class="badge">instance:metrics</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'List of instance service offerings (anonymized).'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: instance_service_offering_id_1
                      name: 'Instance Type A'
                      has_image_requirement: null
                      is_available: true
                      is_public: true
                      suggested: false
                      category: CPU
                      hourly_price:
                        up: 10000
                        down: 10000
                      hourly_price_no_discount:
                        up: 15000
                        down: 15000
                      description: 'CPU: 1 Core </br> Ram: 1 GB </br> Storage: 25 GB'
                      hardware:
                        cpu_core: 1
                        memory_mb: 1024
                        cpu_speed_MHz: 1000
                        root_disk_size_gB: 25
                        network_rate: 200
                        disk_iops: 2500
                    -
                      id: instance_service_offering_id_2
                      name: 'Instance Type B'
                      has_image_requirement: null
                      is_available: true
                      is_public: true
                      suggested: true
                      category: MEMORY
                      hourly_price:
                        up: 20000
                        down: 20000
                      hourly_price_no_discount:
                        up: 25000
                        down: 25000
                      description: 'CPU: 2 Core </br> Ram: 4 GB </br> Storage: 50 GB'
                      hardware:
                        cpu_core: 2
                        memory_mb: 4096
                        cpu_speed_MHz: 2000
                        root_disk_size_gB: 50
                        network_rate: 400
                        disk_iops: 5000
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: instance_service_offering_id_1
                        name: 'Instance Type A'
                        has_image_requirement: null
                        is_available: true
                        is_public: true
                        suggested: false
                        category: CPU
                        hourly_price:
                          up: 10000
                          down: 10000
                        hourly_price_no_discount:
                          up: 15000
                          down: 15000
                        description: 'CPU: 1 Core </br> Ram: 1 GB </br> Storage: 25 GB'
                        hardware:
                          cpu_core: 1
                          memory_mb: 1024
                          cpu_speed_MHz: 1000
                          root_disk_size_gB: 25
                          network_rate: 200
                          disk_iops: 2500
                      -
                        id: instance_service_offering_id_2
                        name: 'Instance Type B'
                        has_image_requirement: null
                        is_available: true
                        is_public: true
                        suggested: true
                        category: MEMORY
                        hourly_price:
                          up: 20000
                          down: 20000
                        hourly_price_no_discount:
                          up: 25000
                          down: 25000
                        description: 'CPU: 2 Core </br> Ram: 4 GB </br> Storage: 50 GB'
                        hardware:
                          cpu_core: 2
                          memory_mb: 4096
                          cpu_speed_MHz: 2000
                          root_disk_size_gB: 50
                          network_rate: 400
                          disk_iops: 5000
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: instance_service_offering_id_1
                        name:
                          type: string
                          example: 'Instance Type A'
                        has_image_requirement:
                          type: string
                          example: null
                        is_available:
                          type: boolean
                          example: true
                        is_public:
                          type: boolean
                          example: true
                        suggested:
                          type: boolean
                          example: false
                        category:
                          type: string
                          example: CPU
                        hourly_price:
                          type: object
                          properties:
                            up:
                              type: integer
                              example: 10000
                            down:
                              type: integer
                              example: 10000
                        hourly_price_no_discount:
                          type: object
                          properties:
                            up:
                              type: integer
                              example: 15000
                            down:
                              type: integer
                              example: 15000
                        description:
                          type: string
                          example: 'CPU: 1 Core </br> Ram: 1 GB </br> Storage: 25 GB'
                        hardware:
                          type: object
                          properties:
                            cpu_core:
                              type: integer
                              example: 1
                            memory_mb:
                              type: integer
                              example: 1024
                            cpu_speed_MHz:
                              type: integer
                              example: 1000
                            root_disk_size_gB:
                              type: integer
                              example: 25
                            network_rate:
                              type: integer
                              example: 200
                            disk_iops:
                              type: integer
                              example: 2500
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/vm-images':
    get:
      summary: 'List Instance VM Image Service Offerings'
      operationId: listInstanceVMImageServiceOfferings
      description: ' <aside class="notice">need <small class="badge">instance:metrics</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'List of instance VM image service offerings (anonymized).'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: vm_image_id_1
                      type: TEMPLATE
                      name: 'Linux Template A'
                      is_available: true
                      display_text: 'Linux Template A'
                      name_orginal: 'linux OS A'
                      ready_to_use_app: true
                      ready_to_use_app_name: AppA
                      ready_to_use_app_version: '1.0'
                      os_type: linux
                      os_name: LinuxOS
                      os_version: '1.0'
                      hardware_requirement:
                        cpunumber: 1
                        cpuspeed: 1000
                        memory: 1024
                        rootdisksize: 25
                      category: GENERAL
                    -
                      id: vm_image_id_2
                      type: TEMPLATE
                      name: 'Windows Template B'
                      is_available: true
                      display_text: 'Windows Template B'
                      name_orginal: 'windows OS B'
                      ready_to_use_app: false
                      ready_to_use_app_name: null
                      ready_to_use_app_version: null
                      os_type: windows
                      os_name: WindowsOS
                      os_version: '2.0'
                      hardware_requirement:
                        cpunumber: 2
                        cpuspeed: 2000
                        memory: 2048
                        rootdisksize: 50
                      category: GENERAL
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: vm_image_id_1
                        type: TEMPLATE
                        name: 'Linux Template A'
                        is_available: true
                        display_text: 'Linux Template A'
                        name_orginal: 'linux OS A'
                        ready_to_use_app: true
                        ready_to_use_app_name: AppA
                        ready_to_use_app_version: '1.0'
                        os_type: linux
                        os_name: LinuxOS
                        os_version: '1.0'
                        hardware_requirement:
                          cpunumber: 1
                          cpuspeed: 1000
                          memory: 1024
                          rootdisksize: 25
                        category: GENERAL
                      -
                        id: vm_image_id_2
                        type: TEMPLATE
                        name: 'Windows Template B'
                        is_available: true
                        display_text: 'Windows Template B'
                        name_orginal: 'windows OS B'
                        ready_to_use_app: false
                        ready_to_use_app_name: null
                        ready_to_use_app_version: null
                        os_type: windows
                        os_name: WindowsOS
                        os_version: '2.0'
                        hardware_requirement:
                          cpunumber: 2
                          cpuspeed: 2000
                          memory: 2048
                          rootdisksize: 50
                        category: GENERAL
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: vm_image_id_1
                        type:
                          type: string
                          example: TEMPLATE
                        name:
                          type: string
                          example: 'Linux Template A'
                        is_available:
                          type: boolean
                          example: true
                        display_text:
                          type: string
                          example: 'Linux Template A'
                        name_orginal:
                          type: string
                          example: 'linux OS A'
                        ready_to_use_app:
                          type: boolean
                          example: true
                        ready_to_use_app_name:
                          type: string
                          example: AppA
                        ready_to_use_app_version:
                          type: string
                          example: '1.0'
                        os_type:
                          type: string
                          example: linux
                        os_name:
                          type: string
                          example: LinuxOS
                        os_version:
                          type: string
                          example: '1.0'
                        hardware_requirement:
                          type: object
                          properties:
                            cpunumber:
                              type: integer
                              example: 1
                            cpuspeed:
                              type: integer
                              example: 1000
                            memory:
                              type: integer
                              example: 1024
                            rootdisksize:
                              type: integer
                              example: 25
                        category:
                          type: string
                          example: GENERAL
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/rebuild':
    post:
      summary: 'Rebuild Instance'
      operationId: rebuildInstance
      description: ' <aside class="notice">need <small class="badge">instance:rebuild</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Instance rebuild started.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vm_image_id:
                  type: ulid
                  description: 'The ID of the new VM image.'
                  example: 01H9ZCNF46W6C1EM45T21B6M0H
                  nullable: false
              required:
                - vm_image_id
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/start':
    post:
      summary: 'Start Instance'
      operationId: startInstance
      description: ' <aside class="notice">need <small class="badge">instance:start</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Instance start requested.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/stop':
    post:
      summary: 'Stop Instance'
      operationId: stopInstance
      description: ' <aside class="notice">need <small class="badge">instance:stop</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Instance stop requested.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                forced:
                  type: boolean
                  description: 'Force stop the instance.'
                  example: false
                  nullable: false
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/reboot':
    post:
      summary: 'Reboot Instance'
      operationId: rebootInstance
      description: ' <aside class="notice">need <small class="badge">instance:reboot</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Instance reboot requested.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}':
    delete:
      summary: 'Delete Instance'
      operationId: deleteInstance
      description: " <aside class=\"notice\">need <small class=\"badge\">instance:delete</small> ability for api token</aside>\n   Delete an instance. This operation is asynchronous; check the instance list for status updates."
      parameters: []
      responses:
        200:
          description: 'Instance delete requested.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the instance.'
                  example: my-instance
                  nullable: false
              required:
                - name
    get:
      summary: 'Show Instance'
      operationId: showInstance
      description: "  <aside class=\"notice\">need <small class=\"badge\">instance:show</small> ability for api token</aside>\n  Retrieve detailed information about a specific instance in a zone."
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: string
                    customer_id: 01hyddf0krmwvq50cd523zfcfp
                    name: test-from-cli-intractive
                    zone_id: 01hysrrs3xhhdaayy69ps6xxya
                    created: true
                    template_id: null
                    vm_image:
                      id: string
                      type: TEMPLATE
                      name: T-Mikrotik-714
                      is_available: true
                      display_text: T-Mikrotik-714
                      name_orginal: 'linux MikroTik 7.14  '
                      ready_to_use_app: false
                      ready_to_use_app_name: null
                      ready_to_use_app_version: null
                      os_type: linux
                      os_name: MikroTik
                      os_version: '7.14'
                      hardware_requirement:
                        cpunumber: 1
                        cpuspeed: 1000
                        memory: 1000
                        rootdisksize: 25
                      category: OPERATION_SYSTEMS
                    zone:
                      id: string
                      name: ALBORZ
                      location: Iran
                      is_public: true
                      is_featured: true
                      is_ready: true
                    service_offering:
                      id: string
                      name: n02-02-025-500-v3
                      has_image_requirement: null
                      is_available: true
                      is_public: true
                      suggested: false
                      category: NETWORK
                      hourly_price:
                        up: 2000
                        down: 2000
                      hourly_price_no_discount:
                        up: 2000
                        down: 2000
                      description: null
                      hardware:
                        cpu_core: 2
                        memory_mb: 2048
                        cpu_speed_MHz: 2300
                        root_disk_size_gB: 25
                        network_rate: 500
                        disk_iops: 2500
                    disk_offering_id: null
                    service_offering_id: string
                    status: UP
                    instance_status: UP
                    password: string
                    username: string
                    created_at: 1756628991
                    updated_at: 1756633818
                    metadata: []
                    kubernetes_cluster_id: null
                    data_volumes: []
                    snapshot:
                      -
                        id: string
                        name: on-snapshot
                        status: READY
                        created_at: 1756633839
                        current: false
                        parent_id: null
                      -
                        id: string
                        name: snap-shot
                        status: READY
                        created_at: 1756634140
                        current: false
                        parent_id: string
                      -
                        id: string
                        name: other-snapshot
                        status: READY
                        created_at: 1756636439
                        current: false
                        parent_id: string
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: string
                      customer_id:
                        type: string
                        example: 01hyddf0krmwvq50cd523zfcfp
                      name:
                        type: string
                        example: test-from-cli-intractive
                      zone_id:
                        type: string
                        example: 01hysrrs3xhhdaayy69ps6xxya
                      created:
                        type: boolean
                        example: true
                      template_id:
                        type: string
                        example: null
                      vm_image:
                        type: object
                        properties:
                          id:
                            type: string
                            example: string
                          type:
                            type: string
                            example: TEMPLATE
                          name:
                            type: string
                            example: T-Mikrotik-714
                          is_available:
                            type: boolean
                            example: true
                          display_text:
                            type: string
                            example: T-Mikrotik-714
                          name_orginal:
                            type: string
                            example: 'linux MikroTik 7.14  '
                          ready_to_use_app:
                            type: boolean
                            example: false
                          ready_to_use_app_name:
                            type: string
                            example: null
                          ready_to_use_app_version:
                            type: string
                            example: null
                          os_type:
                            type: string
                            example: linux
                          os_name:
                            type: string
                            example: MikroTik
                          os_version:
                            type: string
                            example: '7.14'
                          hardware_requirement:
                            type: object
                            properties:
                              cpunumber:
                                type: integer
                                example: 1
                              cpuspeed:
                                type: integer
                                example: 1000
                              memory:
                                type: integer
                                example: 1000
                              rootdisksize:
                                type: integer
                                example: 25
                          category:
                            type: string
                            example: OPERATION_SYSTEMS
                      zone:
                        type: object
                        properties:
                          id:
                            type: string
                            example: string
                          name:
                            type: string
                            example: ALBORZ
                          location:
                            type: string
                            example: Iran
                          is_public:
                            type: boolean
                            example: true
                          is_featured:
                            type: boolean
                            example: true
                          is_ready:
                            type: boolean
                            example: true
                      service_offering:
                        type: object
                        properties:
                          id:
                            type: string
                            example: string
                          name:
                            type: string
                            example: n02-02-025-500-v3
                          has_image_requirement:
                            type: string
                            example: null
                          is_available:
                            type: boolean
                            example: true
                          is_public:
                            type: boolean
                            example: true
                          suggested:
                            type: boolean
                            example: false
                          category:
                            type: string
                            example: NETWORK
                          hourly_price:
                            type: object
                            properties:
                              up:
                                type: integer
                                example: 2000
                              down:
                                type: integer
                                example: 2000
                          hourly_price_no_discount:
                            type: object
                            properties:
                              up:
                                type: integer
                                example: 2000
                              down:
                                type: integer
                                example: 2000
                          description:
                            type: string
                            example: null
                          hardware:
                            type: object
                            properties:
                              cpu_core:
                                type: integer
                                example: 2
                              memory_mb:
                                type: integer
                                example: 2048
                              cpu_speed_MHz:
                                type: integer
                                example: 2300
                              root_disk_size_gB:
                                type: integer
                                example: 25
                              network_rate:
                                type: integer
                                example: 500
                              disk_iops:
                                type: integer
                                example: 2500
                      disk_offering_id:
                        type: string
                        example: null
                      service_offering_id:
                        type: string
                        example: string
                      status:
                        type: string
                        example: UP
                      instance_status:
                        type: string
                        example: UP
                      password:
                        type: string
                        example: string
                      username:
                        type: string
                        example: string
                      created_at:
                        type: integer
                        example: 1756628991
                      updated_at:
                        type: integer
                        example: 1756633818
                      metadata:
                        type: array
                        example: []
                      kubernetes_cluster_id:
                        type: string
                        example: null
                      data_volumes:
                        type: array
                        example: []
                      snapshot:
                        type: array
                        example:
                          -
                            id: string
                            name: on-snapshot
                            status: READY
                            created_at: 1756633839
                            current: false
                            parent_id: null
                          -
                            id: string
                            name: snap-shot
                            status: READY
                            created_at: 1756634140
                            current: false
                            parent_id: string
                          -
                            id: string
                            name: other-snapshot
                            status: READY
                            created_at: 1756636439
                            current: false
                            parent_id: string
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: string
                            name:
                              type: string
                              example: on-snapshot
                            status:
                              type: string
                              example: READY
                            created_at:
                              type: integer
                              example: 1756633839
                            current:
                              type: boolean
                              example: false
                            parent_id:
                              type: string
                              example: null
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance to delete.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/metrics':
    get:
      summary: 'Instance Metric'
      operationId: instanceMetric
      description: ' <aside class="notice">need <small class="badge">instance:metrics</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Instance metrics response'
          content:
            text/plain:
              schema:
                type: string
                example: "\n{\n  \"data\": [\n    {\n      \"column\": \"networkread\",\n      \"values\": [\n        { \"value\": 0.03, \"time\": \"T1\" },\n        { \"value\": 0.03, \"time\": \"T2\" },\n        { \"value\": 0.03, \"time\": \"T3\" },\n      ]\n    },\n    {\n      \"column\": \"networkwrite\",\n      \"values\": [\n        { \"value\": 0, \"time\": \"T1\" },\n        { \"value\": 0, \"time\": \"T2\" },\n        { \"value\": 0, \"time\": \"T3\" },\n\n      ]\n    }\n  ]\n}\n\n    "
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metrics:
                  type: array
                  description: 'Array of metric keys to fetch. Allowed: memoryusedkbs, memorykbs, cpuused, diskiopstotal, diskkbsread, diskkbswrite, networkread, memoryintfreekbs.'
                  example:
                    - memoryusedkbs
                    - cpuused
                  items:
                    type: string
                time:
                  type: integer
                  description: 'Hour number for the metric query.'
                  example: 1
                  nullable: false
                aggregator:
                  type: string
                  description: 'Aggregation function. Allowed: last, mean, median, sum.'
                  example: mean
                  nullable: false
              required:
                - metrics
                - time
                - aggregator
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/console':
    post:
      summary: 'Get Console URL'
      operationId: getConsoleURL
      description: ' <aside class="notice">need <small class="badge">instance:console</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                example:
                  url: consoleproxy
                properties:
                  url:
                    type: string
                    example: consoleproxy
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/snapshot':
    post:
      summary: 'Create Snapshot'
      operationId: createSnapshot
      description: "<aside class=\"notice\">need <small class=\"badge\">instance:snapshot:create</small> ability for api token</aside>\n<b>Note:</b> This function creates a snapshot for a specific instance.<br>\n<pre>{\n  \"data\": {\n      \"id\": \"string\",\n      \"name\": \"string\",\n      \"status\": \"string\",\n      \"created_at\": 1234567890\n  }\n}</pre>"
      parameters: []
      responses:
        201:
          description: 'Snapshot creation accepted.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01H9ZCNF46W6C1EM45T21B6M0S
                    name: my-snapshot
                    status: CREATING
                    created_at: 1712345678
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01H9ZCNF46W6C1EM45T21B6M0S
                      name:
                        type: string
                        example: my-snapshot
                      status:
                        type: string
                        example: CREATING
                      created_at:
                        type: integer
                        example: 1712345678
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the snapshot.'
                  example: my-snapshot
                  nullable: false
              required:
                - name
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/snapshot/{snapshotId}/revert':
    post:
      summary: 'Revert Snapshot'
      operationId: revertSnapshot
      description: "<aside class=\"notice\">need <small class=\"badge\">instance:snapshot:revert</small> ability for api token</aside>\n<b>Note:</b> This function reverts an instance to a specific snapshot.<br>\n<pre>{\n  \"data\": {\n      \"success\": true\n  }\n}</pre>"
      parameters: []
      responses:
        200:
          description: 'Instance reverted to snapshot.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
      -
        in: path
        name: snapshotId
        description: 'The ID of the snapshot.'
        example: 01H9ZCNF46W6C1EM45T21B6M0S
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/{instanceId}/snapshot/{snapshotId}':
    delete:
      summary: 'Delete Snapshot'
      operationId: deleteSnapshot
      description: "<aside class=\"notice\">need <small class=\"badge\">instance:snapshot:delete</small> ability for api token</aside>\n<b>Note:</b> This function deletes a snapshot for a specific instance.<br>\n<pre>{\n  \"data\": {\n      \"success\": true\n  }\n}</pre>"
      parameters: []
      responses:
        200:
          description: 'Snapshot deleted.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: 'The ID of the instance.'
        example: 01H9ZCNF46W6C1EM45T21B6M0I
        required: true
        schema:
          type: ulid
      -
        in: path
        name: snapshotId
        description: 'The ID of the snapshot.'
        example: 01H9ZCNF46W6C1EM45T21B6M0S
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/volumes/service-offering':
    get:
      summary: 'List Volume Service Offerings'
      operationId: listVolumeServiceOfferings
      description: " <aside class=\"notice\">need <small class=\"badge\">instance:volume:service-offering:list</small> ability for api token</aside>\n   List all volume service offerings available in the specified zone for the authenticated user."
      parameters: []
      responses:
        200:
          description: 'List of volume service offerings (anonymized).'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      size: '0'
                      price: '200'
                      name: CustomeDiskOfferingAlborz
                      description: CustomeDiskOfferingAlborz
                      is_public: true
                      is_featured: false
                properties:
                  data:
                    type: array
                    example:
                      -
                        size: '0'
                        price: '200'
                        name: CustomeDiskOfferingAlborz
                        description: CustomeDiskOfferingAlborz
                        is_public: true
                        is_featured: false
                    items:
                      type: object
                      properties:
                        size:
                          type: string
                          example: '0'
                        price:
                          type: string
                          example: '200'
                        name:
                          type: string
                          example: CustomeDiskOfferingAlborz
                        description:
                          type: string
                          example: CustomeDiskOfferingAlborz
                        is_public:
                          type: boolean
                          example: true
                        is_featured:
                          type: boolean
                          example: false
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/volumes':
    get:
      summary: 'List Volumes'
      operationId: listVolumes
      description: ' <aside class="notice">need <small class="badge">instance:volume:list</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'List of volumes.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 01H9ZCNF46W6C1EM45T21B6M0V
                      name: volume-1
                      size: 50
                      status: available
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 01H9ZCNF46W6C1EM45T21B6M0V
                        name: volume-1
                        size: 50
                        status: available
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: 01H9ZCNF46W6C1EM45T21B6M0V
                        name:
                          type: string
                          example: volume-1
                        size:
                          type: integer
                          example: 50
                        status:
                          type: string
                          example: available
      tags:
        - Instance
    post:
      summary: 'Create Volume'
      operationId: createVolume
      description: " <aside class=\"notice\">need <small class=\"badge\">instance:volume:create</small> ability for api token</aside>\n   Create a new volume in the specified zone."
      parameters: []
      responses:
        200:
          description: 'Volume creation accepted.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 01H9ZCNF46W6C1EM45T21B6M0V
                    name: my-volume
                    size: 50
                    status: CREATING
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 01H9ZCNF46W6C1EM45T21B6M0V
                      name:
                        type: string
                        example: my-volume
                      size:
                        type: integer
                        example: 50
                      status:
                        type: string
                        example: CREATING
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                service_offering_id:
                  type: ulid
                  description: 'The ID of the service offering.'
                  example: 01H9ZCNF46W6C1EM45T21B6M0G
                  nullable: false
                size:
                  type: integer
                  description: 'The size of the volume in GB.'
                  example: 50
                  nullable: false
                name:
                  type: string
                  description: 'The name of the volume.'
                  example: my-volume
                  nullable: false
              required:
                - service_offering_id
                - size
                - name
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/volumes/{volumeId}':
    delete:
      summary: 'Delete Volume'
      operationId: deleteVolume
      description: ' <aside class="notice">need <small class="badge">instance:volume:delete</small> ability for api token</aside>'
      parameters: []
      responses:
        200:
          description: 'Volume deleted.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: volumeId
        description: 'The ID of the volume.'
        example: 01H9ZCNF46W6C1EM45T21B6M0V
        required: true
        schema:
          type: ulid
  '/zone/{zoneId}/instance/volumes/{volumeId}/detach/{instanceId}':
    post:
      summary: 'Detach Volume'
      operationId: detachVolume
      description: " <aside class=\"notice\">need <small class=\"badge\">instance:volume:detach</small> ability for api token</aside>\n   Detach a volume from an instance."
      parameters: []
      responses:
        200:
          description: 'Volume detached.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: ulid
                  description: 'The ID of the instance to detach from.'
                  example: 01H9ZCNF46W6C1EM45T21B6M0I
                  nullable: false
              required:
                - instance_id
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
        schema:
          type: ulid
      -
        in: path
        name: volumeId
        description: 'The ID of the volume.'
        example: 01H9ZCNF46W6C1EM45T21B6M0V
        required: true
        schema:
          type: ulid
      -
        in: path
        name: instanceId
        description: ''
        example: 74NSQHzy4ajdpCMv9x08A9CqBg
        required: true
        schema:
          type: string
  '/zone/{zoneId}/instance/volumes/{volumeId}/attach/{instanceId}':
    post:
      summary: 'Attach Volume'
      operationId: attachVolume
      description: " <aside class=\"notice\">need <small class=\"badge\">instance:volume:attach</small> ability for api token</aside>\n   Attach a volume to an instance."
      parameters: []
      responses:
        200:
          description: 'Volume attached.'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    success: true
                properties:
                  data:
                    type: object
                    properties:
                      success:
                        type: boolean
                        example: true
      tags:
        - Instance
    parameters:
      -
        in: path
        name: zoneId
        description: 'The ID of the zone.'
        example: 01F8MECHZX3TBDSZ7XRADM79XE
        required: true
[...]
